{% extends 'account_base.html' %}
{% load i18n static wagtailsettings_tags wagtailcore_tags %}

{% block block_sidebar_left %}
  <div class="card">
    <div class="card-header">
      <strong>Submenu</strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Cras justo odio</a></li>
      <li class="list-group-item"><a href="">Dapibus ac facilisis in</a></li>
      <li class="list-group-item"><a href="">Morbi leo risus</a></li>
      <li class="list-group-item"><a href="">Porta ac consectetur ac</a></li>
      <li class="list-group-item"><a href="">Vestibulum at eros</a></li>
    </ul>
  </div>
{% endblock %}

{% block block_primary %}
  <div class="card ">
    {% with user.person as instance %}
      <div class="card-body p-5">
        <div class="row">
          <div class="col-lg-6">
            <h3>{% trans 'Basic Informations' as fe_bio %} {{ fe_bio | upper }}</h3>
            {% include 'modeladmin/campusgo_persons/person/includes/basic_information.html' %}
            {% include 'modeladmin/campusgo_persons/person/includes/address.html' %}
          </div>
          <div class="col-lg-6">
            <h3>{% trans 'Contacts' as fe_bio %} {{ fe_bio | upper }}</h3>
            {% include 'modeladmin/campusgo_persons/person/includes/contacts.html' %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {% if instance.skill_sets.all %}
              <h3>{% trans 'Skills' as fe_bio %} {{ fe_bio | upper }}</h3>
              {% include 'modeladmin/campusgo_persons/person/includes/skill.html' %}
            {% endif %}

            {% if instance.awards.all %}
              <h3><strong>{% trans 'Awards' as fe_title %} {{ fe_title | upper }}</strong></h3>
              {% include 'modeladmin/campusgo_persons/person/includes/award.html' %}
            {% endif %}

            {% if instance.education_histories.all %}
              <h3>{% trans 'Formal Education' as fe_bio %} {{ fe_bio | upper }}</h3>
              {% include 'modeladmin/campusgo_persons/person/includes/formal_education.html' %}
            {% endif %}

            {% if instance.nonformaleducation_histories.all %}
              {% include 'modeladmin/campusgo_persons/person/includes/nonformal_education.html' %}
            {% endif %}

            {% if instance.working_histories.all %}
              {% include 'modeladmin/campusgo_persons/person/includes/working.html' %}
            {% endif %}

            {% if instance.organization_histories.all %}
              {% include 'modeladmin/campusgo_persons/person/includes/organization.html' %}
            {% endif %}

            {% if instance.publications.all %}
              {% include 'modeladmin/campusgo_persons/person/includes/publication.html' %}
            {% endif %}

            {% if instance.families.all %}
              {% include 'modeladmin/campusgo_persons/person/includes/family.html' %}
            {% endif %}

          </div>
        </div>
      </div>
    {% endwith %}
  </div>
{% endblock %}